body{
    background-color: grey;
    font-size: 15px;
}

.container{
    margin-top: 30px;
    position: center;
    background-color: white;
}

.center-div{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    left: 35%;
    padding-bottom: 20px;
}

.center-div input:hover{
    border: 2px black;
}

#forgot{
    margin-left:8%;
    font-size: 10px;
}

.center-div p{
    font-size: 20px;
}
label{
    display: block;
}
.btn{
    background-color: #000000;
    border-radius: 12px;
    color: #ffffff;
    padding: 10px 50px;
    margin-left: -35%;
}