<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Add New item</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <link href="/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css" rel="stylesheet"/>
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/my_style.css}" type="text/css">
</head>
<body>
<form th:action="@{/additem}" th:object="${todo}" th:method="post">
    <label for="title">Title</label>
    <input name="title" id="title" th:field="*{title}" required>
    <label for="description">Description</label>
    <input name="description" id="description" th:field="*{description}" required>
    <label for="content">Title</label>
    <input name="content" id="content" th:field="*{content}" required>
    <label for="urgent">Urgent</label>
    <input type="radio" name="urgent" id="urgent" th:value="true" th:field="*{urgent}">
    <label for="done">Done</label>
    <input type="radio" name="done" id="done" th:value="true" th:field="*{done}">
    <input type="submit" value="submit">
    <input type="reset" value="reset">
</form>

<script src="/webjars/jquery/1.11.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js"></script>

</body>
</html>