<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Edit</title>
    <link rel="stylesheet" th:href="@{/style.css}" />
    <meta charset="utf-8" />
    <link rel="stylesheet" th:href="@{/css/my_style.css}" type="text/css">
</head>
<body>
<form th:action="@{|/${item.getId()}/edit|}" th:object="${item}" th:method="post">
    <label for="title">Title</label>
    <input name="title" id="title" th:field="*{title}" required>
    <label for="urgent">Urgent</label>
    <input type="radio" name="urgent" id="urgent" th:value="true" th:field="*{urgent}">
    <label for="done">Done</label>
    <input type="radio" name="done" id="done" th:value="true" th:field="*{done}">
    <button th:type="submit" th:text="submit">Submit</button>
    <input type="reset" value="reset">
</form>

</body>
</html>