<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <title>Fox Club Login</title>
    <link th:href="@{/css/mystyle-index.css}" rel="stylesheet" type="text/css"/>
</head>
<body>
<h1> Welcome to Login page</h1>
<p>Please provide your name</p>
<form th:action ="@{/login}" th:method="post">
    <label for="name"> Name</label>
    <input id="name" name="name" th:text="${name}">
    <button type="submit">GO!</button>
</form>

</body>
</html>